:root{
    --slideImage1 : url('../scott-webb-102825.webp');
    --slideImage2 : url('../images/exhibition-1863344_1920.webp');
    --slideImage3 : url('../images/genoa-956405_1920.webp');
}

@keyframes hero-slideshow {
    0%, 15% {
        background-image: var(--slideImage1)
    }
    18%, 48% {
        background-image: var(--slideImage2)
    }
    51%, 82% {
        background-image: var(--slideImage3)
    }
    85%, 100% {
        background-image: var(--slideImage1)
    }
}

@keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}