.no-margin { margin: 0;}
.margin-top-a { margin-top: auto;}
.margin-top-5 { margin-top: 5px;}
.nargin-top-10 { margin-top: 10px;}
.margin-top-15 { margin-top: 15px;}
.margin-top-20 { margin-top: 20px;}
.margin-top-25 { margin-top: 25px;}
.margin-top-50 { margin-top: 50px;}

.margin-right-a {margin-right: auto;}
.margin-right-5 {margin-right: 5px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-15 {margin-right: 15px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-25 {margin-right: 25px;}

.margin-bottom-a {margin-bottom: auto;}
.margin-bottom-5 {margin-bottom: 5px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-15 {margin-bottom: 15px;}
.margin-bottom-20 {margin-bottom: 25px;}
.margin-bottom-25 {margin-bottom: 25px;}

.margin-left-a {margin-left: auto;}
.margin-left-5 {margin-left: 5px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-15 {margin-left: 15px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-25 {margin-left: 25px;}

.row{
    display: flex;
    flex-wrap: wrap;
}

.flex-just-center{
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}

[class*="column-"]{
    padding: 15px;
    box-sizing: border-box;
}

.column-balance{
    width: 50%;
}
.column-slim{
    width: 30%;
}
.column-wide{
    width: 70%;
}
.column-3{
    width: 33.33%;
}
.column-full{
    width: 100%;
}

.contained{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}
.hero-contained{
    position: relative;
    width: 1300px;
    margin: auto;
}

@media only screen and (max-width: 992px) {
    .column-3{
        width: 50%;
    }
    .column-balance,
    .column-wide,
    .column-slim{
        width: 100%;
    }

    .order-tab-1{
        order: -1;
    }
}
@media only screen and (max-width: 600px) {
    .column-3{
        width: 100%;
    }
}